  </main>
</body>
<footer class="footer">
  <a href="https://www.tripadvisor.com/" target="blank">Don't forget to book a hotel! </a>
    <br>
  <a href="https://www.tripadvisor.com/" target="blank">Plan the other details.</a>
</footer>

</html>