html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after { 
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  padding: 50px;
  font: 14px "Monaco", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(189, 247, 247);
}

#eachFlight {
  margin: 25px;
  padding:25px;
  border-left-style: solid;
  border-color: rgb(28, 28, 138);
}

#flightsList {
  outline-style: double;
  padding: 25px;
  /* font: color: rgb(28, 28, 138; */
}

#form {
  padding: 25px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

a {
  color: #236079;
}
