<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <div id="form">
  <form id="add-meal-form" action="/meals" method="POST">
    <!-- <label for="meal-input">Meal Options:</label> -->
    <input type="text" name="name">
    
    <button type="submit">Add Meal Selection</button>
  </form>
  </div>
</main>

<%- include('../partials/footer') %>